.materials
    .materials__container 

        .materials__swiper-wrapper
            .swiper.materials__swiper.js-materials-swiper
                .swiper-wrapper
                
                    .swiper-slide.materials__slide
                        .ui-card3
                            a.ui-card3__wrapper(href="#")
                                picture.ui-card3__picture 
                                    img(src='./img/ui-card-1.png' alt="" loading="lazy").ui-card3__img
                                .ui-card3__bottom 
                                    span.ui-card3__bottom-text Кожа
                                    img.ui-card3__bottom-icon(src="./img/svg/icon-middle-right.svg", alt="")
                    .swiper-slide.materials__slide
                        .ui-card3
                            a.ui-card3__wrapper(href="#")
                                picture.ui-card3__picture 
                                    img(src='./img/ui-card-2.png' alt="" loading="lazy").ui-card3__img
                                .ui-card3__bottom 
                                    span.ui-card3__bottom-text Специальный орагнический котон
                                    img.ui-card3__bottom-icon(src="./img/svg/icon-middle-right.svg", alt="")
                    .swiper-slide.materials__slide
                        .ui-card3
                            a.ui-card3__wrapper(href="#")
                                picture.ui-card3__picture 
                                    img(src='./img/ui-card-3.png' alt="" loading="lazy").ui-card3__img
                                .ui-card3__bottom 
                                    span.ui-card3__bottom-text Шелк
                                    img.ui-card3__bottom-icon(src="./img/svg/icon-middle-right.svg", alt="")
        .materials__aside 
            p.title-2.materials__title Материалы для вас
            a.btn-link.btn-link_mobile-small.btn-link.btn-link_outline-black.materials__overlay-link(href="#") Смотреть все
