.materials {
  &__container {
    display: grid;
    grid-template-columns: 1fr 310px;
    column-gap: 54px;
    overflow: hidden;

    max-width: calc(1320px + 40px);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 125px;

    @include media("<=1200px") {
      grid-template-columns: 1fr;
      row-gap: 23px;
    }
    @include media("<=991px") {
      margin-top: 50px;
      margin-bottom: 80px;
      padding-left: 0;
      padding-right: 0;
      overflow-x: hidden;
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__swiper-wrapper {
    overflow: hidden;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__swiper {
    position: relative;
    overflow: hidden;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__slide {
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__aside {
    @include media("<=1200px") {
      order: -1;
      text-align: center;
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__title {
    margin-bottom: 23px;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
      max-width: 180px;
      margin-left: auto;
      margin-right: auto;
    }
    @include media("<=576px") {
    }
  }

  &__overlay-link {
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }
  .ui-card3__img {
    @include media("<=380px") {
      height: 350px;
      width: 100%;
      object-fit: cover;
    }
  }
}
