.show-room
    .container.show-room__container 
        
        .swiper.show-room__swiper.js-show-room-swiper
            .swiper-wrapper
                .swiper-slide.show-room__slide

                    p.title-2.show-room__title.show-room__title_mobile 
                        | Наш шоу-рум
                        br 
                        | в гроде москва

                    picture.show-room__picture 
                        img(src='./img/show-room-image.png' alt="" loading="lazy").show-room__img

                    .show-room__aside
                        p.title-2.show-room__title.show-room__title_desktop
                            | Наш шоу-рум
                            br 
                            | в гроде москва
                        p.show-room__subtitle От идеи до готового изделия
                        .show-room__texts
                            p.text.show-room__text История каждого нашего изделия начинается с идеи.
                            p.text.show-room__text А идеи обычно приходят во сне. Идеи идеальных платьев, идеальных бюстье, идеальных костюмов, денима, верхней одежды, трикотажа, юбок и брюк, футболок и рубашек, и этот список мы готовы продолжать.
                            p.text.show-room__text Но если приходит идея кому-то одному, то в ее реализации участвует большая команда профессионалов!

        p.title-arrow.show-room__title-arrow.js-show-room-title-arrow
            img(src='./img/svg/icon-logn-right.svg' alt="" loading="lazy")
            | Далее