$breakpoints: (
  "smPhone": 480px, // макет 480 
  "phone": 768px, // макет 480 
  "tablet": 991px, // макет 768 
  "desktop": 1200px, // макет 1024
) !default;

$accent: #2C2C2C;

$grey: #5C5C5C;
$greyLight: #A0A0A0;
