.modal-get-discount.js-modal-get-discount
    .modal-get-discount__container

        button.modal-get-discount__close-btn.js-modal-get-discount-close-btn
            img.modal-get-discount__close-img(src="./img/svg/icon-close.svg", alt="")

        img.modal-get-discount__girl-img(src="./img/modal-get-discount-girl.png", alt="")
        img.modal-get-discount__text-img(src="./img/modal-get-discount-bg.png", alt="")

        p.modal-get-discount__discount Получите -5%
        
        .modal-get-discount__content

            p.modal-get-discount__title  на следующую покупку

            p.text.modal-get-discount__text Подпишитесь на нашу рассылку и получите промокод на покупку в течении 30 дней, после подписки.

            form.modal-get-discount__form.js-form-with-validation
                .ui-input3.modal-get-discount__input
                    input.ui-input3__input(type="email" minlength="2" maxlength="30")
                    label.ui-input3__label Ваш e-mail адрес
                    img.ui-input3__icon(src="./img/svg/icon-alert.svg", alt="")
                    small.ui-input3__small Проверьте правильность введенных данных
                button.btn-link.btn-link_fill-black.modal-get-discount__btn Подписаться на рассылку