.header {
  @include media("<=1200px") {
  }
  @include media("<=991px") {
  }
  @include media("<=768px") {
  }
  @include media("<=480px") {
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
      height: 41px;
    }
    @include media("<=480px") {
    }
  }

  &__left {
    display: flex;
    align-items: center;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 22px;
    min-width: 22px;
    flex: 0 0 22px;
    margin-right: 15px;
    border: 0;
    outline: 0;
    background-color: transparent;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
    &.active {
      .header__menu-icon-bar {
        display: none;
      }
      .header__menu-icon-bar-mobile {
        display: none;
      }
      .header__menu-icon-close {
        display: block;
      }
    }
  }

  &__menu-icon-bar {
    pointer-events: none;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
      display: none;
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__menu-icon-bar-mobile {
    pointer-events: none;
    display: none;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
      display: block;
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__menu-icon-close {
    display: none;
    pointer-events: none;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__items {
    display: flex;
    align-items: center;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
      display: none;
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
    &_left {
      margin-right: 40px;
      @include media("<=1200px") {
      }
      @include media("<=991px") {
      }
      @include media("<=768px") {
      }
      @include media("<=480px") {
      }
    }

    &_right {
      margin-right: 40px;
      @include media("<=1200px") {
      }
      @include media("<=991px") {
      }
      @include media("<=768px") {
      }
      @include media("<=480px") {
      }
    }
  }

  &__item {
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 40px;
      @include media("<=991px") {
        margin-right: 15px;
      }
    }
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
    &_lang {
      @include media("<=1200px") {
      }
      @include media("<=991px") {
      }
      @include media("<=768px") {
      }
      @include media("<=480px") {
      }
    }
    &_phone {
      font-feature-settings: "pnum" on, "lnum" on;
      @include media("<=1200px") {
      }
      @include media("<=991px") {
      }
      @include media("<=768px") {
      }
      @include media("<=480px") {
      }
    }
    &_cart {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @include media("<=1200px") {
      }
      @include media("<=991px") {
      }
      @include media("<=768px") {
      }
      @include media("<=480px") {
      }
    }
    &_search {
      display: none;
      @include media("<=991px") {
        @include reset-btn();
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__search {
    position: relative;
    padding-right: 20px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
      display: none;
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
    &.active {
      padding-right: 40px;
      border-bottom-color: $accent;
      .header__input {
        width: 200px;
        max-width: none;
        flex: 0 0 200px;
      }
    }
  }

  &__input {
    width: 0;
    max-width: 0;
    flex: 0 0 0;
    transition: all 0.3s ease;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__center {
    transition: all 0.3s ease;
    &.disabled {
      max-width: 0;
      opacity: 0;
      z-index: -1;
      visibility: hidden;
    }
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
      width: 150px;
      flex: 0 0 150px;
    }
    @include media("<=480px") {
    }
  }

  &__logo-link {
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__logo-img {
    display: block;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__right {
    display: flex;
    align-items: center;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  //   navigation
  &__navigation {
    position: absolute;
    top: calc(65px + 28px);
    height: calc(100vh - (65px + 28px));
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease;

    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }

    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
      top: calc(41px + 28px);
      height: auto;
    }
    @include media("<=480px") {
    }
  }

  &__navigation-container {
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__navigation-all-items {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 80px 0;
    width: 50%;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
      width: 75%;
    }
    @include media("<=768px") {
      display: block;
      padding: 55px 0 0 0;
    }
    @include media("<=480px") {
    }
  }

  &__navigation-items {
    &:not(:last-child) {
      margin-right: 45px;
      @include media("<=768px") {
        margin-right: 0;
      }
    }
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
    &_mobile {
      display: none;
      margin-bottom: 20px;
      @include media("<=768px") {
        display: block;
      }
    }
  }

  &__navigation-item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
    &_title {
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 14px;
      line-height: 15px;
      color: #2c2c2c;
      &.active {
        .header__navigation-item-icon {
          transform: rotate(180deg);
        }
        + .header__navigation-items-menu {
          max-height: 100%;
          opacity: 1;
          overflow: auto;
          z-index: 1;
          visibility: visible;
          margin-bottom: 20px;
        }
      }
      @include media("<=1200px") {
      }
      @include media("<=991px") {
      }
      @include media("<=768px") {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      @include media("<=480px") {
      }
    }

    &_link {
      display: block;
      color: $greyLight;
      @include media("<=1200px") {
      }
      @include media("<=991px") {
      }
      @include media("<=768px") {
      }
      @include media("<=480px") {
      }
    }
  }

  &__navigation-item-icon {
    display: none;
    transition: all 0.3s ease;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
      display: inline-block;
    }
    @include media("<=480px") {
    }
  }

  &__navigation-items-menu {
    @include media("<=768px") {
      transition: all 0.3s ease;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      z-index: -1;
      visibility: hidden;
    }
  }

  // results
  &__results {
    position: absolute;
    top: calc(65px + 28px);
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease;

    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
      top: calc(41px + 28px);
    }
    @include media("<=480px") {
    }
  }

  &__results-container {
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__results-items {
    margin: 25px 30px 0 20px;
    width: 50%;
    max-height: 405px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 8px;
      @include media("<=991px") {
        display: none;
      }
    }
    &::-webkit-scrollbar-track {
      background-color: #f6f6f6;
      @include media("<=991px") {
        display: none;
      }
    }
    &::-webkit-scrollbar-thumb {
      background-color: #2c2c2c;
      @include media("<=991px") {
        display: none;
      }
    }
    @include media("<=1200px") {
    }
    @include media("<=991px") {
      max-height: none;
      margin: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 30px;
    }
    @include media("<=768px") {
      gap: 30px 10px;
    }
    @include media("<=480px") {
    }
  }

  &__results-card {
    &:not(:last-child) {
      margin-bottom: 40px;
      @include media("<=991px") {
        margin-bottom: 0;
      }
      @include media("<=768px") {
      }
    }
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__results-search {
    display: none;
    margin-top: 20px;
    margin-bottom: 23px;
    @include media("<=991px") {
      display: block;
    }
  }
  &__results-search-input {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    width: 100%;
  }
  &__results-navs {
    margin-bottom: 30px;
    display: none;
    @include media("<=991px") {
      display: block;
    }
  }
  &__results-navs-item {
    display: block;
    font-size: 13px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #5c5c5c;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
