.product-ordering
    .container.product-ordering__container

        .logo-with-description
            .logo-with-description__wrapper
                
                a.logo-with-description__link(href="/index.html") 
                    img.logo-with-description__img(src="./img/svg/icon-logo.svg", alt="")
                p.logo-with-description__text Оформление заказа