.cooperation {
  &__container {
    @include media("<=768px") {
      margin-top: 30px;
    }
  }

  &__title {
    text-align: left;
    margin-bottom: 30px;
    @include media("<=768px") {
      font-size: 18px;
      line-height: 130%;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 45% 1fr;
    column-gap: 30px;
    @include media("<=768px") {
      display: block;
    }
  }

  &__item {
    &_content {
      @include media("<=768px") {
        margin-bottom: 30px;
      }
    }

    &_form {
    }
  }

  &__text {
    margin-bottom: 30px;
    @include media("<=768px") {
      margin-bottom: 15px;
    }
  }

  &__item-group {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &_textarea {
      min-height: 116px;
    }
  }

  &__item-submit-button {
  }
}
