extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "gulp-pug-starter"

block content
    main.main.main_about
        include ../../blocks/modules/top-message/top-message 
        include ../../blocks/modules/header/header
        .breadcrumbs.breadcrumbs_about
            .container.breadcrumbs__container
                a.breadcrumbs__item(href="#") Главная
                a.breadcrumbs__item(href="#") О нас
        include ../../blocks/modules/about/about
        include ../../blocks/modules/footer/footer

block scripts
    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
    script(src="js/main.js")