.about {
  overflow-x: hidden;
  &__container {
    @include media("<=768px") {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 68px;
    }
  }
}

.about-first {
  @include media("<=991px") {
  }
  &__container {
    display: grid;
    grid-template-columns: minmax(200px, 532px) 421px;
    column-gap: 125px;
    @include media("<=991px") {
      column-gap: 25px;
    }
    @include media("<=768px") {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title {
    margin-bottom: 114px;
    text-align: left;
    color: #000000;
    @include media("<=768px") {
      order: 1;
      text-align: center;
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 110%;
    }
    &_mobile {
      display: none;
      @include media("<=768px") {
        display: block;
      }
    }

    &_desktop {
      @include media("<=768px") {
        display: none;
      }
    }
  }

  &__picture {
    @include media("<=768px") {
      order: 3;
    }
  }

  &__img {
    display: block;
    @include media("<=768px") {
    }
  }

  &__content {
    text-align: left;
    @include media("<=768px") {
      order: 2;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 30px;
    }
  }

  &__text {
    color: #5c5c5c;
    @include media("<=991px") {
    }
  }
}

.about-second {
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: minmax(500px, 647px);
    margin-top: 144px;
    margin-bottom: 123px;
    @include media("<=768px") {
      margin-top: 30px;
      margin-bottom: 50px;
      display: block;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__items {
  }

  &__content {
    position: relative;
    z-index: 10;
    text-align: left;
    margin-bottom: 38px;
    padding-left: 112px;
    @include media("<=768px") {
      padding: 0;
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 21px;
    @include media("<=768px") {
      display: none;
    }
  }

  &__text {
    color: #5c5c5c;
    line-height: 150%;
    @include media("<=768px") {
      margin-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__text-desktop {
    @include media("<=768px") {
      display: none;
    }
  }

  &__text-mobile {
    display: none;
    @include media("<=768px") {
      display: block;
    }
  }

  &__picture-1 {
  }

  &__img-1 {
    display: block;
    height: 391px;
    @include media("<=768px") {
      height: auto;
      width: 100%;
    }
  }

  &__bg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    height: auto;
    object-fit: contain;
    @include media("<=1200px") {
      width: 30%;
    }
    @include media("<=768px") {
      display: none;
    }
  }
}

.about-fourth {
  &__container {
    display: grid;
    grid-template-columns: minmax(500px, 650px) minmax(350px, 538px);
    column-gap: 50px;
    justify-content: space-between;
    margin-bottom: 100px;
    @include media("<=991px") {
      display: flex;
      flex-direction: column;
    }
    @include media("<=768px") {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: #000000;
    @include media("<=991px") {
      margin-bottom: 30px;
      order: 1;
      text-align: center;
    }
    &_mobile {
      display: none;
      @include media("<=991px") {
        display: block;
      }
    }

    &_desktop {
      @include media("<=991px") {
        display: none;
      }
    }
  }

  &__content {
    align-self: center;
    text-align: left;
    padding-left: 112px;

    @include media("<=991px") {
      padding-left: 0;
      order: 3;
      @include media("<=768px") {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  &__texts {
  }

  &__text {
    color: #5c5c5c;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__picture {
    @include media("<=991px") {
      order: 2;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;

    @include media("<=991px") {
      margin-bottom: 30px;
    }
  }
}

.about-reviews {
  &__container {
    @include media("<=768px") {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title {
    margin-bottom: 70px;
    text-align: center;
    @include media("<=768px") {
      margin-bottom: 41px;
      padding-left: 15px;
      padding-right: 15px;

      font-size: 24px;
      line-height: 110%;
    }
  }

  &__swiper-wrapper {
    margin-bottom: 52px;
    @include media("<=768px") {
      margin-bottom: 30px;
    }
  }

  &__slide {
    text-align: center;
    padding: 27px 38px 24px 38px;
    height: auto;
    transition: all 0.5s ease;

    @include media("<=768px") {
      padding: 34px 15px 33px 15px;
    }

    &:hover,
    &.swiper-slide-active {
      background-color: #2c2c2c;
      .about-reviews__slide-name {
        color: #fff;
      }
      .about-reviews__slide-description {
        color: #fff;
      }
      .about-reviews__slide-socials {
      }
      .about-reviews__slide-social-link {
      }
    }
  }

  &__slide-name {
    margin-bottom: 20px;
    font-weight: bold;
    color: #2c2c2c;
    font-size: 15px;
    line-height: 150%;
    transition: all 0.5s ease;
  }

  &__slide-description {
    font-size: 13px;
    line-height: 150%;
    margin-bottom: 28px;
    transition: all 0.5s ease;
    @include media("<=768px") {
      margin-bottom: 30px;
      font-size: 12px;
    }
  }

  &__slide-socials {
  }

  &__slide-social-link {
  }

  &__slide-social-icon {
  }

  &__title-arrow {
    display: flex;
    justify-content: center;
  }

  .swiper {
  }
  .js-about-reviews-swiper {
  }
  .swiper-wrapper {
  }
  .swipre-slide {
  }
}

.about-models {
  position: relative;
  &__container {
    display: flex;
    margin-top: 123px;
    margin-bottom: 312px;
    @include media("<=1200px") {
      display: block;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @include media("<=1200px") {
      display: block;
      padding-left: 0;
      padding-right: 0;
    }
    @include media("<=768px") {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__content {
    position: relative;
    flex: 0 0 395px;
    margin-right: 50px;
    z-index: 100;
    @include media("<=1200px") {
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include media("<=768px") {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__title {
    margin-bottom: 50px;
    @include media("<=1200px") {
      margin-bottom: 20px;
      text-align: center;
    }
    @include media("<=768px") {
      font-size: 24px;
      line-height: 110%;
    }
  }

  &__text {
    margin-bottom: 63px;
    @include media("<=1200px") {
      margin-bottom: 30px;
    }
  }

  &__title-arrow {
    @include media("<=1200px") {
      display: none;
    }
  }

  &__swiper-wrapper {
    overflow: visible;
    position: absolute;
    top: 0;
    right: 0;
    height: 610px;
    width: 935px;
    @include media("<=1900px") {
      width: 700px;
    }
    @include media("<=1400px") {
      width: 500px;
    }
    @include media("<=1200px") {
      position: static;
      width: 100%;
      height: auto;
    }
  }

  &__slide {
  }

  &__img {
    width: 100%;
    height: auto;
    @include media("<=1200px") {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper {
    overflow: visible;
  }
  .js-about-models-swiper {
  }
  .swiper-wrapper {
    transition: all 0.3s ease !important;
  }
  .swiper-slide {
    width: 315px;
    height: 426px;
    overflow: hidden;
    transition: all 0.3s ease !important;
    @include media("<=1200px") {
      position: relative;
      width: 100%;
      height: 343px;
      &:nth-child(even) {
        margin-top: -15px;
      }
    }
    @include media("<=375px") {
      &:nth-child(even) {
        margin-top: -30px;
      }
    }
    &-active {
      width: 426px;
      height: 610px;
      overflow: hidden !important;
      @include media("<=1200px") {
        width: 100%;
        height: 343px;
      }
    }
    &.hide {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
    &.to-lift {
      margin-top: -30px;
    }
  }
}
