.about
    .container.about__container

        //- Первый экран
        .about-first
            .about-first__container

                p.title-1.about-first__title.about-first__title_mobile О нас

                picture.about-first__picture 
                    img(src='./img/about-first.png' alt="" loading="lazy").about-first__img
                
                .about-first__content
                    p.title-2.about-first__title.about-first__title_desktop 
                        | Post 
                        br 
                        | Meridiem
                    p.text.about-first__text 
                        | Post Meridiem – российский бренд женской одежды. 
                        br
                        br
                        | А мы, Яна Плисткина и Яна Цыганкова, являемся его основателями и идейными вдохновителями.
                    p.text.about-first__text
                        | История Post Meridiem началась в 2015 году. Изначально бренд носил название Peony Moscow. И это имя все еще помнят многие наши лояльные покупательницы. В 2019 году произошел ребрендинг. Тем же составом команды, с такими же миссией и ценностями, но с новым вдохновением мы стали называться Post Meridiem.

        //- Второй экран
        .about-second
            .about-second__container

                .about-second__items
                    .about-second__content
                        p.title-4.about-second__title От идеи до готового изделия
                        p.text.about-second__text.about-second__text-desktop Мягкое послеполуденное солнце, легкое расслабленное настроение, размеренный ход времени, приближающий закат, ужин с самыми близкими, неспешные прогулки и теплые беседы. Так мы видим эстетику нашего бренда.
                        p.text.about-second__text.about-second__text-mobile Название Post Meridiem не случайно, и имеет свою красивую историю. С латыни, «post meridiem» переводится как «после полудня». Идея, теплота и трепет за каждое наше изделие заключаются в этих двух словах.
                        p.text.about-second__text.about-second__text-mobile Мягкое послеполуденное солнце, легкое расслабленное настроение, размеренный ход времени, приближающий закат, ужин с самыми близкими, неспешные прогулки и теплые беседы. Так мы видим эстетику нашего бренда.
                    picture.about-second__picture-1 
                        source(media='(min-width: 768px)', srcset='./img/about-second-desktop.png')
                        img(width="324" height="391" src='./img/about-second-mobile.png' alt="").about-second__img-1

                    img(width="324" height="391" src='./img/about-second-bg.png' alt="").about-second__bg



