.contacts
    .container.contacts__container
        p.title-2.contacts__title контакты

        .contacts__top-items

            //- Контент слева
            .contacts__top-item.contacts__top-item_left
                p.contacts__top-item-title Отдел по работе с клиентами
                a.contacts__top-item-link(href="tel:+7 (967) 130-55-22")  +7 (967) 130-55-22
                a.contacts__top-item-link(href="mailto:shop@postmeridiem-brand.com") shop@postmeridiem-brand.com
                p.contacts__top-item-text
                    | Пн-Пт с 11.00 до 21.00,
                    br 
                    | Сб-Вс и праздничные дни с 11.00 до 20.00
                nav.contacts__top-item-socials    
                    a.contacts__top-item-social(href="#")
                        img.contacts__top-item-icon(src="./img/svg/icon-insta-black.svg", alt="")
                    a.contacts__top-item-social(href="#")
                        img.contacts__top-item-icon(src="./img/svg/icon-whatsapp-black.svg", alt="")
            
            //- Контент по центру
            .contacts__top-item.contacts__top-item_center

            //- Контент с права
            .contacts__top-item.contacts__top-item_right
                p.contacts__top-item-title Шоу-рум
                a.contacts__top-item-link(href="tel:+7 (969) 198-11-00")  +7 (969) 198-11-00
                p.contacts__top-item-text
                    | Москва, ул. Большая Садовая, д. 5, корпус 2.
                    br 
                    | Бизнес-центр "Сады Пекина"
                    br
                    br
                    | Ежедневно, с 11:00 до 21:00
        
        .contacts__bottom 
            p.title-3.contacts__bottom-title.contacts__bottom-title_mobile Сотрудничество
            picture.contacts__bottom-picture
                img(src='./img/contacts.png' alt="" loading="lazy").contacts__bottom-img
            .contacts__bottom-content
                p.title-3.contacts__bottom-title.contacts__bottom-title_desktop Сотрудничество
                div.contacts__bottom-text-links
                    p.text.contacts__bottom-text 
                        | Мы в Postmeridiem являемся экспертами по моде. Даже если обычно фильтры являются
                        | небольшими компонентами большей системы, они играют ключевую роль в
                        | производственных характеристиках предприятия, безопасности сотрудников и охране
                        | окружающей среды. Simatek выбирает всесторонний подход. Мы разрабатываем нашу
                        | продукцию и решения для максимальной эффективности, а также подбираем лучшее
                        | финансовое решение.
                    .contacts__bottom-items  
                        .contacts__bottom-item 
                            p.text.contacts__bottom-item-text По вопросам сотрудничества: 
                            a.text.contacts__bottom-item-link(href="mailto:partners@postmeridiem-brand.com") partners@postmeridiem-brand.com 
                        .contacts__bottom-item 
                            p.text.contacts__bottom-item-text По вопросам PR, публикаций в СМИ и instagram: 
                            a.text.contacts__bottom-item-link(href="mailto:pr@postmeridiem-brand.com") pr@postmeridiem-brand.com 
                        .contacts__bottom-item 
                            p.text.contacts__bottom-item-text По вопросам качества предоставляемых услуг: 
                            a.text.contacts__bottom-item-link(href="mailto:feedback@postmeridiem-brand.com") feedback@postmeridiem-brand.com 