.contacts
    .container.contacts__container
        p.title-2.contacts__title контакты

        .contacts__top-items

            //- Контент слева
            .contacts__top-item.contacts__top-item_left
                p.contacts__top-item-title Отдел по работе с клиентами
                a.contacts__top-item-link(href="tel:+7 (967) 130-55-22")  +7 (967) 130-55-22
                a.contacts__top-item-link(href="mailto:shop@postmeridiem-brand.com") shop@postmeridiem-brand.com
                p.contacts__top-item-text
                    | Пн-Пт с 11.00 до 21.00,
                    br 
                    | Сб-Вс и праздничные дни с 11.00 до 20.00
                nav.contacts__top-item-socials    
                    a.contacts__top-item-social(href="#")
                        img.contacts__top-item-icon(src="./img/svg/icon-insta-black.svg", alt="")
                    a.contacts__top-item-social(href="#")
                        img.contacts__top-item-icon(src="./img/svg/icon-whatsapp-black.svg", alt="")