.contacts {
  @include media("<=768px") {
  }
  &__container {
    @include media("<=1200px") {
      padding-left: 0;
      padding-right: 0;
    }
    @include media("<=768px") {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 60px;
    }
  }

  &__title {
    margin-bottom: 90px;
    margin-bottom: 68px;
    text-align: center;
    @include media("<=768px") {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &__top-items {
    display: grid;
    grid-template-columns: minmax(300px, 338px) minmax(426px, 350px) minmax(
        300px,
        319px
      );
    justify-content: space-between;
    margin-bottom: 153px;
    column-gap: 20px;
    @include media("<=1200px") {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 40px;
      @include media("<=991px") {
        margin-bottom: 50px;
      }
    }
  }

  &__top-item {
    @include media("<=1200px") {
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include media("<=768px") {
    }
    &_left {
      margin-top: 34px;
      @include media("<=1200px") {
        margin-top: 0;
        padding-left: 20px;
        padding-right: 20px;
      }
      @include media("<=768px") {
      }
    }

    &_center {
      background-color: #e5e5e5;
      @include media("<=1200px") {
        width: 100%;
        height: 357px;
        margin-bottom: 4px;
      }
      @include media("<=768px") {
      }
    }

    &_right {
      margin-top: 34px;
      @include media("<=1200px") {
        margin-top: 0;
      }
      @include media("<=768px") {
      }
    }
  }

  &__top-item-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
    @include media("<=768px") {
    }
  }

  &__top-item-link {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    @include media("<=768px") {
    }
  }

  &__top-item-text {
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    @include media("<=768px") {
    }
  }

  &__top-item-socials {
    display: inline-flex;
    align-items: center;
    @include media("<=768px") {
    }
  }

  &__top-item-social {
    &:not(:last-child) {
      margin-right: 20px;
    }
    @include media("<=768px") {
    }
  }

  &__top-item-icon {
    @include media("<=768px") {
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: minmax(200px, 538px) minmax(315px, 615px);
    justify-content: space-between;
    column-gap: 40px;
    @include media("<=1200px") {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include media("<=768px") {
      column-gap: 20px;
    }
    @include media("<=576px") {
      column-gap: 0;
      display: flex;
      flex-direction: column;
    }
  }

  &__bottom-picture {
    @include media("<=768px") {
    }
  }

  &__bottom-img {
    display: block;
    @include media("<=768px") {
    }
    @include media("<=576px") {
      margin-bottom: 30px;
    }
  }

  &__bottom-content {
    @include media("<=768px") {
    }
  }

  &__bottom-title {
    margin-bottom: 194px;
    @include media("<=1200px") {
      margin-bottom: 50px;
      font-size: 34px;
    }
    @include media("<=768px") {
    }
    &_mobile {
      display: none;
      @include media("<=576px") {
        display: block;
        text-align: center;
        margin-bottom: 25px;
      }
    }
    &_desktop {
      @include media("<=576px") {
        display: none;
      }
    }
  }

  &__bottom-text-links {
    @include media("<=768px") {
    }
  }

  &__bottom-text {
    margin-bottom: 40px;
    color: #5c5c5c;
    @include media("<=768px") {
      margin-bottom: 0;
    }
  }

  &__bottom-items {
    @include media("<=768px") {
    }
    @include media("<=576px") {
      display: none;
    }
  }

  &__bottom-item {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    @include media("<=768px") {
    }
  }

  &__bottom-item-text {
    margin-right: 10px;
    @include media("<=768px") {
    }
  }

  &__bottom-item-link {
    font-weight: bold;
    @include media("<=768px") {
    }
  }
}
