.privacy
    .container.privacy__container
        p.title-5.privacy__title ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ В POST MERIDIEM

        .privacy__list
            p.title-4.privacy__list-title 1. Общие положения
            p.text.privacy__list-item 
                | 1.1. Настоящее Положение о конфиденциальности (далее – «Положение») регламентируется Конституцией Российской Федерации, Федеральным законом «Об информации, информационных технологиях и о защите информации» № 149-ФЗ от 27.07.2006 года, Федеральным законом «О персональных данных» № 152-ФЗ от 27.07.2006 года и другими нормативно правовыми актами.
            p.text.privacy__list-item 
                |1.2. Основные понятия, используемые в Положении:
                br
                | ПРОДАВЕЦ — ИП Цыганкова Яна Владимировна, ИНН 773171397210.
                | ИНТЕРНЕТ-МАГАЗИН — Интернет-сайт, принадлежащий Продавцу, расположенный в сети интернет по адресу: https://postmeridiem-brand.com/, где представлены Товары, предлагаемые Продавцами для приобретения, а также условия оплаты и доставки Товаров Покупателям.
                | COOKIES — это небольшие фрагменты данных, которые повышают эффективность и улучшают условия пользования Веб-сайтом. Данная информация может включать в себя данные о местоположении Клиента или языковых предпочтениях, которые будут сохранены при повторном входе на сайт, или о понравившихся Клиенту товарах.
                | КЛИЕНТ - Посетитель Сайта — лицо, пришедшее на сайт postmeridiem-brand.com: без цели размещения Заказа; Пользователь — физическое лицо, посетитель Сайта, принимающий условия Публичной оферты, размещенной на сайте: postmeridiem-brand.com. и желающий разместить Заказы в Интернет-магазине; Покупатель — Пользователь, разместивший Заказ в Интернет-магазине - субъекты персональных данных;
                | ПЕРСОНАЛЬНЫЕ ДАННЫЕ - информация, сохраненная в любом формате, относящаяся к определенному или определяемому на основании такой информации физическому лицу (субъекту персональных данных), которая сама по себе или в сочетании с другой информацией, имеющейся в распоряжении Интернет-магазина, позволяет идентифицировать личность Клиента;
                | ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ - действия (операции) с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение персональных данных;
                | РАСПРОСТРАНЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ - действия, направленные на передачу персональных данных определенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой̆ информации, размещение в информационно- телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;
                | ИСПОЛЬЗОВАНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ - действия (операции) с персональными данными, совершаемые оператором в целях принятия решений или совершения иных действий, порождающих юридические последствия в отношении субъекта персональных данных или других лиц либо иным образом затрагивающих права и свободы субъекта персональных данных или других лиц;
                | КОНФИДЕНЦИАЛЬНОСТЬ ПЕРСОНАЛЬНЫХ ДАННЫХ - обязательное для соблюдения оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространение без согласия субъекта персональных данных или наличия иного законного основания.
        
        .privacy__list
            p.title-4.privacy__list-title 2. Состав и получение персональных данных Клиентов
            p.text.privacy__list-item 
                | 2.1. К персональным данным, сбор и обработку которых осуществляет Интернет магазин, относятся: анкетные данные (фамилия, имя); адрес проживания; адрес электронной̆ почты; номер контактного телефона, а также информация, предоставляемая Пользователем самостоятельно при регистрации в личном кабинете, при оформлении заказа в интернет-магазине или в процессе использования Сайта.
            p.text.privacy__list-item 
                | 2.2. Все персональные данные сотрудники Продавца получают непосредственно от субъекта персональных данных - Клиентов.
        
        .privacy__list
            p.title-4.privacy__list-title 3. Обработка и хранение персональных данных Клиентов
            p.text.privacy__list-item 
                | 3.1. Обработка персональных данных Интернет-магазином в интересах Клиентов заключается в получении, систематизации, накоплении, хранении, уточнении (обновлении, изменении), использовании, распространении, обезличивании, блокировании, уничтожении и в защите от несанкционированного доступа персональных данных Клиентов.
            p.text.privacy__list-item 
                | 3.2. Согласие Клиентов на обработку персональных данных не требуется, поскольку обработка персональных данных осуществляется в целях исполнения Публичной оферты, одной из сторон которой является субъект персональных данных - Клиент.