
.preorder
    .preorder__container
        div.preorder__overlay-content 
            p.title-1.preorder__overlay-title Новая колекция
            a.btn-link.btn-link_outline-black.preorder__overlay-link(href="#") Смотреть
        picture.preorder__picture 
            source(media='(min-width: 480px)', srcset='./img/preorder-lg.png')
            img(width="1320" height="752" src='./img/preorder-sm.png' alt="").preorder__img