
.preorder
    .container.preorder__container
        div.preorder__overlay-content 
            p.title-1.preorder__overlay-title Предзаказ
            a.btn-link.btn-link_outline-white.preorder__overlay-link(href="#") Сделать предзаказ
        .preorder__video-wrapper
            video.preorder__video(autoplay, mute, repeat)
                source(src="./video/preorder-video.mp4" type="video/mp4")
                source(src="./video/preorder-video.webm" type="video/webm")