extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	main.main
		.container.review-site
			a.btn-link.btn-link_outline-black(href="/main.html") Главная 
			a.btn-link.btn-link_outline-black(href="/success.html") Успех 
			a.btn-link.btn-link_outline-black(href="/product-card.html") Продукт
			a.btn-link.btn-link_outline-black(href="/product-ordering.html") Оформление заказа

block scripts
	script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
	script(src="js/main.js")
	
