extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	main.main
		.container.review-site
			a.btn-link.btn-link_outline-black(href="/main-page.html") Главная 
			a.btn-link.btn-link_outline-black(href="/success-page.html") Успех 
			a.btn-link.btn-link_outline-black(href="/product-card-page.html") Продукт
			a.btn-link.btn-link_outline-black(href="/product-ordering-page.html") Оформление заказа
			a.btn-link.btn-link_outline-black(href="/user-cart-page.html") Корзина
			a.btn-link.btn-link_outline-black(href="/user-cart-page-alt.html") Корзина и оформление заказа
			a.btn-link.btn-link_outline-black(href="/catalog-page.html") Каталог
			a.btn-link.btn-link_outline-black(href="/catalog-page-alt.html") Каталог альтернатива
			a.btn-link.btn-link_outline-black(href="/contacts-page.html") Контакты
			a.btn-link.btn-link_outline-black(href="/qan-page.html") Вопросы и ответы
			a.btn-link.btn-link_outline-black(href="/exchange-page.html") Обмен и возврат
			a.btn-link.btn-link_outline-black(href="delivery-payment-page.html") Варианты доставки и оплата
			a.btn-link.btn-link_outline-black(href="about-page.html") О нас
			a.btn-link.btn-link_outline-black(href="404-page.html") 404 страница
			a.btn-link.btn-link_outline-black(href="privacy-page.html") Политика (new)
			a.btn-link.btn-link_outline-black(href="public-offer-page.html") Оферта (new)
			a.btn-link.btn-link_outline-black(href="cooperation-page.html") Сотрудничество (new)
			a.btn-link.btn-link_outline-black(href="components-page.html") Компоненты

block scripts
	script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
	script(src="js/main.js")
	
