.compilations {
  .ui-card2__name-and-price {
    @include media("<=768px") {
     align-items: flex-start;
    }
  }
  .ui-card2__img {
    height: 426px;
    object-fit: cover;
    @include media("<=768px") {
      height: 353px;
    }
  }
  &__container {
    position: relative;

    margin-top: 100px;
    margin-bottom: 125px;
    overflow: hidden;

    @include media("<=1200px") {
      grid-template-columns: 1fr;
      row-gap: 23px;
    }
    @include media("<=991px") {
      margin-top: 50px;
      margin-bottom: 50px;
      padding-left: 0;
      padding-right: 0;
      overflow-x: hidden;
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__swiper-wrapper {
    position: relative;
    @include media("<=1200px") {
      max-width: calc(1320px + 40px);
      padding-left: 20px;
      padding-right: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__swiper {
    margin-left: 50vw;
    overflow: hidden;
    @include media("<=1920px") {
      margin-left: 35%;
    }
    @include media("<=1200px") {
      margin-left: 0;
      overflow: visible;
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__slide {
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-left: 20px;
    max-width: calc(1320px + 40px);
    margin-left: auto;
    margin-right: auto;
    @include media("<=1200px") {
      position: static;
      width: 100%;
      max-width: calc(1320px + 40px);
      padding-left: 20px;
      padding-right: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  &__aside-wrapper {
    position: relative;
    z-index: 100;
    width: 350px;
    height: auto;
    text-align: left;
    @include media("<=1200px") {
      width: auto;
      position: static;
      text-align: center;
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: left;
    @include media("<=1200px") {
      text-align: center;
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__description {
    margin-bottom: 79px;
    font-size: 13px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #5c5c5c;
    @include media("<=1200px") {
      display: none;
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__title-arrow {
    @include media("<=1200px") {
      display: none;
    }
  }

  .swiper-wrapper {
  }
  .swiper-slide {
  }
}
