.success-block
    .container.success-block__container 
        p.title-2.success-block__title Спасибо!
        p.text.success-block__text 
            | Ваш заказ успешно оформлен.
            br
            | Ожидайте уведомление на электронную почту и звонок 
            br 
            | от нашего менеджера.
        a.btn-link.btn-link_fill-black.success-block__link(href="#") Подписаться на рассылку