div.large-slider
    .container.large-slider__container 
        p.title-1.large-slider__title new
        .large-slider__swiper
            .large-slider__swiper.js-large-slider-swiper
                .swiper-wrapper
                    .swiper-slide.large-slider__slide
                        .ui-card2
                            .ui-card2__wrapper  
                                picture.ui-card2__picture 
                                    img(src='./img/ui-card-1.png' alt="").ui-card2__img
                                .ui-card2__name-and-price
                                    p.ui-card2__name Платье-рубашка с камнями
                                    p.ui-card2__price 13 500 ₽
                                .ui-card2__sizes-and-colors
                                    .ui-card2__sizes
                                        p.text.ui-card2__size XS
                                        p.text.ui-card2__size.active S
                                        p.text.ui-card2__size M
                                    .ui-card2__colors
                                        p.ui-card2__color(style="--bgColor:#fff")
                                        p.ui-card2__color(style="--bgColor:#2C2C2C")
                        .swiper-pagination
                    .swiper-slide.large-slider__slide
                        .ui-card2
                            .ui-card2__wrapper  
                                picture.ui-card2__picture 
                                    img(src='./img/ui-card-2.png' alt="").ui-card2__img
                                .ui-card2__name-and-price
                                    p.ui-card2__name Платье-рубашка с камнями
                                    p.ui-card2__price 13 500 ₽
                                .ui-card2__sizes-and-colors
                                    .ui-card2__sizes
                                        p.text.ui-card2__size.active XS
                                        p.text.ui-card2__size S
                                        p.text.ui-card2__size M
                                    .ui-card2__colors
                                        p.ui-card2__color(style="--bgColor:#fff")
                                        p.ui-card2__color(style="--bgColor:#2C2C2C")
                    .swiper-slide.large-slider__slide
                        .ui-card2
                            .ui-card2__wrapper  
                                picture.ui-card2__picture 
                                    img(src='./img/ui-card-3.png' alt="").ui-card2__img
                                .ui-card2__name-and-price
                                    p.ui-card2__name Платье-рубашка с камнями
                                    p.ui-card2__price 13 500 ₽
                                .ui-card2__sizes-and-colors
                                    .ui-card2__sizes
                                        p.text.ui-card2__size.active XS
                                        p.text.ui-card2__size S
                                        p.text.ui-card2__size M
                                    .ui-card2__colors
                                        p.ui-card2__color(style="--bgColor:#fff")
                                        p.ui-card2__color(style="--bgColor:#2C2C2C")
            .large-slider__navigation
                .large-slider__navigation-item.large-slider__navigation-item_prev
                    span.large-slider__navigation-text Назад
                    img(src='./img/svg/icon-logn-left.svg' alt="").large-slider__navigation-icon.large-slider__navigation-icon_prev
                a.btn-link.btn-link_black.large-slider__navigation-link(href="#") В каталог
                .large-slider__navigation-item.large-slider__navigation-item_next 
                    img(src='./img/svg/icon-logn-right.svg' alt="").large-slider__navigation-icon.large-slider__navigation-icon_next
                    span.large-slider__navigation-text Далее
