.large-slider {
  &__container {
    margin-top: 50px;
    overflow: hidden;
    @include media("<=991px") {
      margin-top: 26px;
      margin-bottom: 20px;
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 35px;
    @include media("<=991px") {
      margin-bottom: 27px;
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__swiper {
    margin-bottom: 60px;
    overflow: hidden;
    @include media("<=991px") {
      margin-bottom: 30px;
      overflow: visible;
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__slide {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media("<=991px") {
      padding-left: 15px;
      padding-right: 15px;
    }
    @include media("<=768px") {
      justify-content: center;
    }
    @include media("<=480px") {
    }
  }

  &__navigation-link {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__navigation-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      display: none;
    }
    @include media("<=480px") {
    }
    &_prev {
    }

    &_next {
    }
  }

  &__navigation-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 110%;
    text-transform: uppercase;
    color: #2c2c2c;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__navigation-icon {
    @include media("<=991px") {
      display: none;
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
    &_prev {
      margin-left: 9px;
      @include media("<=991px") {
      }
      @include media("<=768px") {
      }
      @include media("<=480px") {
      }
    }

    &_next {
      margin-right: 9px;
      @include media("<=991px") {
      }
      @include media("<=768px") {
      }
      @include media("<=480px") {
      }
    }
  }

  .swiper-wrapper {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }
  .swiper-slide {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  .swiper-pagination {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }
  .swiper-button-prev {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }
  .swiper-button-next {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }
}
