//- Наследуем классы от 'modal-get-discount'
.modal-get-discount.modal-get-discount_get-callback.js-modal-get-callback
    .modal-get-discount__container

        button.modal-get-discount__close-btn.js-modal-get-callback-close-btn
            img.modal-get-discount__close-img(src="./img/svg/icon-close.svg", alt="")

        img.modal-get-discount__girl-img(src="./img/modal-get-callback-girl.png", alt="")
        img.modal-get-discount__text-img(src="./img/modal-get-discount-bg.png", alt="")

        p.modal-get-discount__discount Закажите обратный звонок
        
        .modal-get-discount__content

            p.text.modal-get-discount__text 
                | И наш менеджер свяжется с вами в
                br 
                | течении вух часов

            form.modal-get-discount__form.js-form-with-validation

                .ui-input3.modal-get-discount__input
                        input.ui-input3__input(type="text" minlength="2" maxlength="30")
                        label.ui-input3__label Ваше имя
                        img.ui-input3__icon(src="./img/svg/icon-alert.svg", alt="")
                        small.ui-input3__small Проверьте правильность введенных данных

                .ui-input3.modal-get-discount__input
                    input.ui-input3__input.js-imask-phone(type="text" minlength="2" maxlength="30")
                    label.ui-input3__label Ваш номер телефона
                    img.ui-input3__icon(src="./img/svg/icon-alert.svg", alt="")
                    small.ui-input3__small Проверьте правильность введенных данных

                button.btn-link.btn-link_fill-black.modal-get-discount__btn Заказать звонок