.catalog
    .container.catalog__container

        //- ASIDE
        .catalog__aside 
            .breadcrumbs.breadcrumbs_catalog.catalog__breadcrumbs
                .breadcrumbs__container
                    a.breadcrumbs__item(href="#") Главная
                    a.breadcrumbs__item(href="#") Каталог
            nav.catalog__aside-items
                a.catalog__aside-item
                a.catalog__aside-item Верхняя одежда
                a.catalog__aside-item Костюмы
                a.catalog__aside-item Платья
                a.catalog__aside-item.active Рубашки и футболки
                a.catalog__aside-item Топы и баски
                a.catalog__aside-item Юбки
                a.catalog__aside-item Аксессуары
                a.catalog__aside-item Брюки и шорты
                a.catalog__aside-item Смотреть все
                a.catalog__aside-item Предзаказ
                a.catalog__aside-item New
                a.catalog__aside-item Sample sale
                a.catalog__aside-item Подарочный сертификат
                a.catalog__aside-item Sale

        //- MAIN
        .catalog__main

            //- MAIN - filters 
            .catalog__main-filters
                button.catalog__main-filter Платья мини
                button.catalog__main-filter Платья-корсеты
                button.catalog__main-filter.active Платья на вечеринку
                button.catalog__main-filter Свадебеные платья
                button.catalog__main-filter Вечерние платья
                button.catalog__main-filter Платья деним

            //- MAIN - sizes
            .catalog__main-sizes
                p.catalog__main-size-title Размер:
                button.catalog__main-size.active XS
                button.catalog__main-size S
                button.catalog__main-size M
                button.catalog__main-size L
                button.catalog__main-size XL

            //- MAIN items
            .catalog__main-items

                .ui-card2.ui-card2_catalog.catalog__main-item
                    .ui-card2__wrapper  
                        picture.ui-card2__picture 
                            img(src='./img/ui-card-1.png' alt="" loading="lazy").ui-card2__img
                        .ui-card2__name-and-price
                            p.ui-card2__name Платье-рубашка с камнями
                            p.ui-card2__price 13 500 ₽
                        .ui-card2__sizes-and-colors
                            .ui-card2__sizes
                                p.text.ui-card2__size.active XS
                                p.text.ui-card2__size S
                                p.text.ui-card2__size M
                            .ui-card2__colors
                                p.ui-card2__color(style="--bgColor:#fff")
                                p.ui-card2__color(style="--bgColor:#2C2C2C")
                    
                .ui-card2.ui-card2_catalog.catalog__main-item
                    .ui-card2__wrapper  
                        picture.ui-card2__picture 
                            img(src='./img/ui-card-2.png' alt="" loading="lazy").ui-card2__img
                        .ui-card2__name-and-price
                            p.ui-card2__name Платье-рубашка с камнями
                            p.ui-card2__price 13 500 ₽
                        .ui-card2__sizes-and-colors
                            .ui-card2__sizes
                                p.text.ui-card2__size.active XS
                                p.text.ui-card2__size S
                                p.text.ui-card2__size M
                            .ui-card2__colors
                                p.ui-card2__color(style="--bgColor:#fff")
                                p.ui-card2__color(style="--bgColor:#2C2C2C")
                    
                .ui-card2.ui-card2_catalog.catalog__main-item
                    .ui-card2__wrapper  
                        picture.ui-card2__picture 
                            img(src='./img/ui-card-3.png' alt="" loading="lazy").ui-card2__img
                        .ui-card2__name-and-price
                            p.ui-card2__name Платье-рубашка с камнями
                            p.ui-card2__price 13 500 ₽
                        .ui-card2__sizes-and-colors
                            .ui-card2__sizes
                                p.text.ui-card2__size.active XS
                                p.text.ui-card2__size S
                                p.text.ui-card2__size M
                            .ui-card2__colors
                                p.ui-card2__color(style="--bgColor:#fff")
                                p.ui-card2__color(style="--bgColor:#2C2C2C")
                    
                .ui-card2.ui-card2_catalog.catalog__main-item
                    .ui-card2__wrapper  
                        picture.ui-card2__picture 
                            img(src='./img/ui-card-1.png' alt="" loading="lazy").ui-card2__img
                        .ui-card2__name-and-price
                            p.ui-card2__name Платье-рубашка с камнями
                            p.ui-card2__price 13 500 ₽
                        .ui-card2__sizes-and-colors
                            .ui-card2__sizes
                                p.text.ui-card2__size.active XS
                                p.text.ui-card2__size S
                                p.text.ui-card2__size M
                            .ui-card2__colors
                                p.ui-card2__color(style="--bgColor:#fff")
                                p.ui-card2__color(style="--bgColor:#2C2C2C")
                    
                .ui-card2.ui-card2_catalog.catalog__main-item
                    .ui-card2__wrapper  
                        picture.ui-card2__picture 
                            img(src='./img/ui-card-2.png' alt="" loading="lazy").ui-card2__img
                        .ui-card2__name-and-price
                            p.ui-card2__name Платье-рубашка с камнями
                            p.ui-card2__price 13 500 ₽
                        .ui-card2__sizes-and-colors
                            .ui-card2__sizes
                                p.text.ui-card2__size.active XS
                                p.text.ui-card2__size S
                                p.text.ui-card2__size M
                            .ui-card2__colors
                                p.ui-card2__color(style="--bgColor:#fff")
                                p.ui-card2__color(style="--bgColor:#2C2C2C")
                    
                .ui-card2.ui-card2_catalog.catalog__main-item
                    .ui-card2__wrapper  
                        picture.ui-card2__picture 
                            img(src='./img/ui-card-3.png' alt="" loading="lazy").ui-card2__img
                        .ui-card2__name-and-price
                            p.ui-card2__name Платье-рубашка с камнями
                            p.ui-card2__price 13 500 ₽
                        .ui-card2__sizes-and-colors
                            .ui-card2__sizes
                                p.text.ui-card2__size.active XS
                                p.text.ui-card2__size S
                                p.text.ui-card2__size M
                            .ui-card2__colors
                                p.ui-card2__color(style="--bgColor:#fff")
                                p.ui-card2__color(style="--bgColor:#2C2C2C")
                    
            .catalog__main-show-more-wrapper
                button.btn-link.btn-link_outline-black.catalog__main-show-more-btn Загрузить еще