.welcome
    .welcome__container 
        .welcome__my-swiper 
            .welcome__overlay-content 
                p.title-1.title-1_white.welcome__overlay-title Новая колекция
                a.btn-link.btn-link_outline-white.welcome__overlay-link(href="#") Смотреть
            .swiper.welcome__swiper.js-welcome-swiper
                .swiper-wrapper
                    .swiper-slide.welcome__slide
                        picture.welcome__picture 
                            img(src='./img/ui-card-1.png' alt="" loading="lazy").welcome__img
                    .swiper-slide.welcome__slide
                        picture.welcome__picture 
                            img(src='./img/ui-card-1.png' alt="" loading="lazy").welcome__img
                    .swiper-slide.welcome__slide
                        picture.welcome__picture 
                            img(src='./img/ui-card-1.png' alt="" loading="lazy").welcome__img
                    .swiper-slide.welcome__slide
                        picture.welcome__picture 
                            img(src='./img/ui-card-1.png' alt="" loading="lazy").welcome__img
                .swiper-pagination