.qan
    .container.qan__container 

        p.title-2.qan__title Вопросы и ответы

        //- Для десктопа
        .qan__items.qan__items_desktop.js-qan-desktop

            .qan__questions 
                button.qan__question(data-question="1")
                    span.text.qan__question-text Могу ли я оплатить заказ при получении?
                    img.qan__question-img(src="./img/svg/icon-short-left.svg" alt="")

                button.qan__question(data-question="2")
                    span.text.qan__question-text Могу ли я изменить размер в уже оформленном заказе?
                    img.qan__question-img(src="./img/svg/icon-short-left.svg" alt="")

                button.qan__question(data-question="3") 
                    span.text.qan__question-text Какие есть способы доставки?
                    img.qan__question-img(src="./img/svg/icon-short-left.svg" alt="")

                button.qan__question.active(data-question="4")
                    span.text.qan__question-text Как я могу сделать возврат?
                    img.qan__question-img(src="./img/svg/icon-short-left.svg" alt="")

                button.qan__question(data-question="5") 
                    span.text.qan__question-text Могу ли я зарезервировать вещь?
                    img.qan__question-img(src="./img/svg/icon-short-left.svg" alt="")

                button.qan__question(data-question="6") 
                    span.text.qan__question-text Могу ли я быть уверен, что мои персональные данные защищены?
                    img.qan__question-img(src="./img/svg/icon-short-left.svg" alt="")

            .qan__answers
                .qan__answer(data-answer="1")
                    p.text.qan__answer-text 
                        | Возврат вы можете сделать в течение 14 дней с момента получения заказа. Для этого нужно позвонить по номеру +7 (967) 130-55-22, а также можете написать в WhatsApp (24 часа). Наш сотрудник поможет сделать вам возврат.
                        br
                        br
                        | Если вы хотите обменять товар, то сначала вам нужно сделать возврат товара, а затем оформить новый заказ.
                    .qan__support
                        .qan__support-title-text-link
                            p.text.qan__support-title Не смоги ответить на ваш вопрос?
                            a.text.qan__support-link(href="tel:+7 (967) 130-55-22") Свяжитесь с нами по телефону  +7 (967) 130-55-22 
                            p.text.qan__support-text или закажите обратный звонок
                        button.btn-link.btn-link_outline-black.qan__support-button Заказать звонок

                .qan__answer(data-answer="2")
                    p.text.qan__answer-text 
                        | 2 Возврат вы можете сделать в течение 14 дней с момента получения заказа. Для этого нужно позвонить по номеру +7 (967) 130-55-22, а также можете написать в WhatsApp (24 часа). Наш сотрудник поможет сделать вам возврат.
                        br
                        br
                        | Если вы хотите обменять товар, то сначала вам нужно сделать возврат товара, а затем оформить новый заказ.
                    .qan__support
                        .qan__support-title-text-link
                            p.text.qan__support-title Не смоги ответить на ваш вопрос?
                            a.text.qan__support-link(href="tel:+7 (967) 130-55-22") Свяжитесь с нами по телефону  +7 (967) 130-55-22 
                            p.text.qan__support-text или закажите обратный звонок
                        button.btn-link.btn-link_outline-black.qan__support-button.js-get-callback-button Заказать звонок    

                .qan__answer(data-answer="3")
                    p.text.qan__answer-text 
                        | Возврат вы можете сделать в течение 14 дней с момента получения заказа. Возврат вы можете сделать в течение 14 дней с момента получения заказа. Для этого нужно позвонить по номеру +7 (967) 130-55-22, а также можете написать в WhatsApp (24 часа). Наш сотрудник поможет сделать вам возврат.
                        br
                        br
                        | Если вы хотите обменять товар, то сначала вам нужно сделать возврат товара, а затем оформить новый заказ.
                    .qan__support
                        .qan__support-title-text-link
                            p.text.qan__support-title Не смоги ответить на ваш вопрос?
                            a.text.qan__support-link(href="tel:+7 (967) 130-55-22") Свяжитесь с нами по телефону  +7 (967) 130-55-22 
                            p.text.qan__support-text или закажите обратный звонок
                        button.btn-link.btn-link_outline-black.qan__support-button.js-get-callback-button Заказать звонок      

                .qan__answer.active(data-answer="4")
                    p.text.qan__answer-text 
                        | 4 Возврат вы можете сделать в течение 14 дней с момента получения заказа. Для этого нужно позвонить по номеру +7 (967) 130-55-22, а также можете написать в WhatsApp (24 часа). Наш сотрудник поможет сделать вам возврат.
                        br
                        br
                        | Если вы хотите обменять товар, то сначала вам нужно сделать возврат товара, а затем оформить новый заказ.
                    .qan__support
                        .qan__support-title-text-link
                            p.text.qan__support-title Не смоги ответить на ваш вопрос?
                            a.text.qan__support-link(href="tel:+7 (967) 130-55-22") Свяжитесь с нами по телефону  +7 (967) 130-55-22 
                            p.text.qan__support-text или закажите обратный звонок
                        button.btn-link.btn-link_outline-black.qan__support-button.js-get-callback-button Заказать звонок    

                .qan__answer(data-answer="5")
                    p.text.qan__answer-text 
                        | 4 Возврат вы можете сделать в течение 14 дней с момента получения заказа. Для этого нужно позвонить по номеру +7 (967) 130-55-22, а также можете написать в WhatsApp (24 часа). Наш сотрудник поможет сделать вам возврат.
                        br
                        br
                        | Если вы хотите обменять товар, то сначала вам нужно сделать возврат товара, а затем оформить новый заказ.
                    .qan__support
                        .qan__support-title-text-link
                            p.text.qan__support-title Не смоги ответить на ваш вопрос?
                            a.text.qan__support-link(href="tel:+7 (967) 130-55-22") Свяжитесь с нами по телефону  +7 (967) 130-55-22 
                            p.text.qan__support-text или закажите обратный звонок
                        button.btn-link.btn-link_outline-black.qan__support-button Заказать звонок

                .qan__answer(data-answer="6")
                    p.text.qan__answer-text 
                        | 4 Возврат вы можете сделать в течение 14 дней с момента получения заказа. Для этого нужно позвонить по номеру +7 (967) 130-55-22, а также можете написать в WhatsApp (24 часа). Наш сотрудник поможет сделать вам возврат.
                        br
                        br
                        | Если вы хотите обменять товар, то сначала вам нужно сделать возврат товара, а затем оформить новый заказ.
                    .qan__support
                        .qan__support-title-text-link
                            p.text.qan__support-title Не смоги ответить на ваш вопрос?
                            a.text.qan__support-link(href="tel:+7 (967) 130-55-22") Свяжитесь с нами по телефону  +7 (967) 130-55-22 
                            p.text.qan__support-text или закажите обратный звонок
                        button.btn-link.btn-link_outline-black.qan__support-button.js-get-callback-button Заказать звонок   

        //- Для мобилки
        .qan__items.qan__items_mobile.js-qan-mobile
        
            .qan__item
                input.qan__item-input-title(type="checkbox" checked id="q1")
                label.qan__item-label-title(for="q1") Обмен купленной вещи
                    img.qan__item-question-img(src="./img/svg/icon-arrow-down.svg" alt="")
                .qan__item-content
                    p.text.qan__item-text 
                        | Возврат вы можете сделать в течение 14 дней с момента получения заказа. 
                        | Для этого нужно позвонить по номеру 
                        a(href="tel:+7 (967) 130-55-22") +7 (967) 130-55-22, 
                        | а также можете написать в WhatsApp (24 часа). 
                        | Наш сотрудник поможет сделать вам возврат.
                        br
                        br
                        | Если вы хотите обменять товар, то сначала вам нужно сделать возврат товара, а затем оформить новый заказ.
                    .qan__item-support
                        p.text.qan__item-support-title Не смоги ответить на ваш вопрос?
                        p.text.qan__item-support-text  
                            | Свяжитесь с нами по телефону 
                            a(href="tel:+7 (967) 130-55-22") +7 (967) 130-55-22, 
                            | или закажите обратный звонок
                        button.btn-link.btn-link_outline-black.qan__item-support-button Заказать звонок
        
            .qan__item
                input.qan__item-input-title(type="checkbox" id="q2")
                label.qan__item-label-title(for="q2") Могу ли я оплатить заказ при получении?
                    img.qan__item-question-img(src="./img/svg/icon-arrow-down.svg" alt="")
                .qan__item-content
                    p.text.qan__item-text 
                        | Возврат вы можете сделать в течение 14 дней с момента получения заказа. 
                        | Для этого нужно позвонить по номеру 
                        a(href="tel:+7 (967) 130-55-22") +7 (967) 130-55-22, 
                        | а также можете написать в WhatsApp (24 часа). 
                        | Наш сотрудник поможет сделать вам возврат.
                        br
                        br
                        | Если вы хотите обменять товар, то сначала вам нужно сделать возврат товара, а затем оформить новый заказ.
                    .qan__item-support
                        p.text.qan__item-support-title Не смоги ответить на ваш вопрос?
                        p.text.qan__item-support-text  
                            | Свяжитесь с нами по телефону 
                            a(href="tel:+7 (967) 130-55-22") +7 (967) 130-55-22, 
                            | или закажите обратный звонок
                        button.btn-link.btn-link_outline-black.qan__item-support-button Заказать звонок
        
            .qan__item
                input.qan__item-input-title(type="checkbox" id="q3")
                label.qan__item-label-title(for="q3") Могу ли я изменить размер в уже оформленном заказе?
                    img.qan__item-question-img(src="./img/svg/icon-arrow-down.svg" alt="")
                .qan__item-content
                    p.text.qan__item-text 
                        | Возврат вы можете сделать в течение 14 дней с момента получения заказа. 
                        | Для этого нужно позвонить по номеру 
                        a(href="tel:+7 (967) 130-55-22") +7 (967) 130-55-22, 
                        | а также можете написать в WhatsApp (24 часа). 
                        | Наш сотрудник поможет сделать вам возврат.
                        br
                        br
                        | Если вы хотите обменять товар, то сначала вам нужно сделать возврат товара, а затем оформить новый заказ.
                    .qan__item-support
                        p.text.qan__item-support-title Не смоги ответить на ваш вопрос?
                        p.text.qan__item-support-text  
                            | Свяжитесь с нами по телефону 
                            a(href="tel:+7 (967) 130-55-22") +7 (967) 130-55-22, 
                            | или закажите обратный звонок
                        button.btn-link.btn-link_outline-black.qan__item-support-button Заказать звонок
        
            .qan__item
                input.qan__item-input-title(type="checkbox" id="q4")
                label.qan__item-label-title(for="q4") Какие есть способы доставки?
                    img.qan__item-question-img(src="./img/svg/icon-arrow-down.svg" alt="")
                .qan__item-content
                    p.text.qan__item-text 
                        | Возврат вы можете сделать в течение 14 дней с момента получения заказа. 
                        | Для этого нужно позвонить по номеру 
                        a(href="tel:+7 (967) 130-55-22") +7 (967) 130-55-22, 
                        | а также можете написать в WhatsApp (24 часа). 
                        | Наш сотрудник поможет сделать вам возврат.
                        br
                        br
                        | Если вы хотите обменять товар, то сначала вам нужно сделать возврат товара, а затем оформить новый заказ.
                    .qan__item-support
                        p.text.qan__item-support-title Не смоги ответить на ваш вопрос?
                        p.text.qan__item-support-text  
                            | Свяжитесь с нами по телефону 
                            a(href="tel:+7 (967) 130-55-22") +7 (967) 130-55-22, 
                            | или закажите обратный звонок
                        button.btn-link.btn-link_outline-black.qan__item-support-button Заказать звонок