.qan {
  @include media("<=991px") {
  }
  &__container {
    @include media("<=991px") {
    }
  }

  &__title {
    margin-top: 90px;
    margin-bottom: 68px;
    text-align: center;
    @include media("<=991px") {
      margin-top: 30px;
      margin-bottom: 40px;
    }
    @include media("<=576px") {
      font-size: 18px;
    }
  }

  &__items {
    @include media("<=991px") {
    }
    &_desktop {
      display: grid;
      grid-template-columns: minmax(300px, 610px) minmax(500px, 650px);
      column-gap: 60px;
      justify-content: space-between;
      @include media("<=1300px") {
        column-gap: 20px;
      }
      @include media("<=991px") {
        display: none;
      }
    }
    &_desktop-alt {
      display: grid;
      grid-template-columns: minmax(400px, 610px) minmax(400px, 650px);
      column-gap: 60px;
      justify-content: space-between;
      @include media("<=1300px") {
        column-gap: 20px;
      }
      @include media("<=991px") {
        display: none;
      }
    }
    &_mobile {
      display: none;
      @include media("<=991px") {
        display: block;
      }
    }
  }

  &__questions {
    max-height: 310px;
    overflow-y: scroll;
    padding-right: 70px;

    &::-webkit-scrollbar {
      width: 3px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f6f6f6;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #2c2c2c;
    }

    @include media("<=1300px") {
      padding-right: 20px;
    }

    &_no-scroll {
      max-height: none;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-track {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }
  }

  &__question {
    @include reset-btn();
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 15px 12px;
    border-bottom: 1px solid #f6f6f6;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    &.active {
      text-shadow: 1px 0 0 currentColor;
      color: #2c2c2c;
      .qan__question-img {
        opacity: 1;
      }
      .qan__question-price {
        text-shadow: 1px 0 0 currentColor;
      }
    }
    &:hover {
      background-color: #eeeeee;
    }
    @include media("<=991px") {
    }
  }

  &__question-text {
    pointer-events: none;
    @include media("<=991px") {
    }
  }

  &__question-price {
    font-family: "MontserratDev";
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.3s ease;
    @include media("<=991px") {
    }
  }

  &__question-img {
    transition: all 0.3s ease;
    pointer-events: none;
    opacity: 0;
    @include media("<=991px") {
    }
  }

  &__answers {
    @include media("<=991px") {
    }
  }

  &__answer {
    display: none;
    &.active {
      display: block;
    }
    @include media("<=991px") {
    }
  }

  &__answer-text {
    color: #5c5c5c;
    @include media("<=991px") {
    }
  }

  &__answer-title {
    margin-top: 15px;
    margin-bottom: 20px;
    @include media("<=991px") {
    }
  }

  &__answer-keys-values {
    margin-top: 20px;
  }
  &__answer-keys-values-item {
    display: flex;
    align-content: inherit;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__answer-key {
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #5c5c5c;
    &_date {
      margin-right: 61px;
    }
    &_payment {
      margin-right: 54px;
    }
  }
  &__answer-value {
    color: #2c2c2c;
    font-weight: bold;
  }

  &__answer-list {
    list-style-type: none;
    @include media("<=991px") {
    }
  }

  &__answer-list-item {
    position: relative;
    padding-left: 29px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      display: inline-block;
      width: 9px;
      height: 9px;
      background-color: #2c2c2c;
    }
    @include media("<=991px") {
    }
  }

  &__support {
    margin-top: 81px;
    display: grid;
    grid-template-columns: minmax(300px, 377px) 203px;
    justify-content: space-between;
    column-gap: 20px;
    @include media("<=1300px") {
    }
  }

  &__support-title-text-link {
    @include media("<=991px") {
    }
  }

  &__support-title {
    margin-bottom: 5px;
    font-weight: bold;
    @include media("<=991px") {
    }
  }

  &__support-text {
    color: #2c2c2c;
    @include media("<=991px") {
    }
  }

  &__support-link {
    color: #2c2c2c;
    @include media("<=991px") {
    }
  }

  &__support-button {
    margin-top: auto;
    background-color: #fff;
    @include media("<=991px") {
    }
  }

  //   mobile
  &__item {
    overflow: hidden;
    border-bottom: 1px solid #a0a0a0;
    
  }

  &__item-input-title {
    position: absolute;
    left: -9999px;
    &:checked {
      + label {
        text-shadow: 1px 0 0 currentColor;
        img {
          transform: rotate(180deg);
        }
      }
      ~ .qan__item-content {
        max-height: 100%;
        opacity: 1;
        overflow: auto;
        z-index: 1;
        visibility: visible;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }

  &__item-label-title {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding-right: 30px;
    padding: 10px 30px 10px 0;
    line-height: 150%;

    font-size: 13px;

    cursor: pointer;
    transition: all 0.3s ease;
  }

  &__item-question-img {
    position: absolute;
    top: 16px;
    right: 0;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  &__item-content {
    transition: all 0.3s ease;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    visibility: hidden;

    a {
      color: $accent;
    }
  }

  &__item-price {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: #2c2c2c;
    &::before {
      content: "";
      position: relative;
      display: block;
      width: 9px;
      height: 9px;
      background-color: #2c2c2c;
      margin-right: 10px;
    }
  }

  &__item-keys-values {
    margin-top: 20px;
  }
  &__item-keys-values-item {
    display: flex;
    align-content: inherit;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__item-key {
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #5c5c5c;
    &_date {
      margin-right: 31px;
    }
    &_payment {
      margin-right: 25px;
    }
  }
  &__item-value {
    font-size: 13px;
    color: #2c2c2c;
    font-weight: bold;
  }

  &__item-title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: #000000;
  }

  &__item-text {
  }

  &__item-support {
  }

  &__item-support-title {
  }

  &__item-support-text {
  }

  &__item-list {
    margin-top: 30px;
    list-style-type: none;
    @include media("<=991px") {
    }
  }

  &__item-list-li {
    position: relative;
    padding-left: 20px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      display: inline-block;
      width: 9px;
      height: 9px;
      background-color: #2c2c2c;
    }
    @include media("<=991px") {
    }
  }

  &__item-support-button {
    margin-top: 30px;
    background-color: #fafafa;
  }
}
