.footer {
  margin-top: 67px;
  background: #fff;
  @include media("<=991px") {
  }
  @include media("<=768px") {
    margin-top: 45px;
  }
  @include media("<=576px") {
  }
  &__container {
    padding-bottom: 35px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      padding-bottom: 23px;
    }
    @include media("<=576px") {
    }
  }

  &__top-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "MontserratDev";
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    padding: 30px 0;
    text-transform: uppercase;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #d0d0d0;
      @include media("<=991px") {
        width: calc(100% + 40px);
        right: -20px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #d0d0d0;
      @include media("<=991px") {
        width: calc(100% + 40px);
        right: -20px;
      }
    }
    @include media("<=991px") {
      font-size: 14px;
      line-height: 130%;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      padding: 20px 0;
      margin-bottom: 20px;
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__items {
    display: flex;
    @include media("<=991px") {
      display: block;
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-main {
    position: relative;
    flex: 0 1 25%;
    margin-right: auto;
    @include media("<=991px") {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 30px;
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
    &::after {
      display: none;
      content: "";
      position: absolute;
      bottom: 0;
      width: calc(100% + 40px);
      right: -20px;
      height: 1px;
      background-color: #d0d0d0;
      @include media("<=991px") {
        display: block;
      }
    }
  }

  &__item-main-logo-link {
    margin-bottom: 8px;
    @include media("<=991px") {
      margin-bottom: 20px;
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-main-logo-img {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-main-link {
    display: block;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 22px;
      @include media("<=991px") {
        margin-bottom: 15px;
      }
    }
    @include media("<=991px") {
      color: #5c5c5c;
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-main-text {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-navs {
    display: flex;
    flex: 0 1 26%;
    margin-right: auto;
    @include media("<=991px") {
      padding: 22px 0 30px 0;
      flex: 1 1 100%;
      justify-content: center;
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-nav {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
    &_desktop {
      &:first-child {
        margin-right: 137px;
      }
      @include media("<=991px") {
        display: none;
      }
      @include media("<=768px") {
      }
      @include media("<=576px") {
      }
    }

    &_mobile {
      display: none;
      @include media("<=991px") {
        display: block;
      }
      @include media("<=768px") {
      }
      @include media("<=576px") {
      }
    }
  }

  &__item-nav-item {
    display: block;
    white-space: nowrap;
    font-size: 15px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #2c2c2c;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @include media("<=991px") {
      font-size: 13px;
      line-height: 150%;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #5c5c5c;
      text-align: center;
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-form {
    flex: 0 1 auto;
    @include media("<=991px") {
      flex: 1 1 100%;
      margin-left: auto;
      margin-right: auto;
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-form-input-wrapper {
    margin-bottom: 20px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-form-input {
    &::placeholder {
      font-size: 15px;
      line-height: 150%;
      color: #a0a0a0;
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-form-input-icon {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-form-input-text {
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */

    font-feature-settings: "pnum" on, "lnum" on;

    color: #000000;

    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-form-text {
    max-width: 240px;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__copyright {
    display: none;
    position: relative;
    display: block;
    margin: 30px 0 0 0;
    padding-top: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: rgba(160, 160, 160, 0.5);
    }
    @include media("<=991px") {
      display: block;
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__copyright-item {
    display: block;
    text-align: center;
    color: #5c5c5c;
    &:not(:last-child) {
      margin-bottom: 14px;
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }
}
