footer.footer
    .container.footer__container 
        p.footer__top-text 
            span.hide-576 Магазин дизайнерской одежды POST MERIDIEM
            span.show-block-576 
                | Магазин дизайнерской одежды 
                br
                | POST MERIDIEM
        .footer__items

            .footer__item-main
                a.text.footer__item-main-logo-link(href="/") 
                    img.footer__item-main-logo-img(src="./img/svg/icon-logo.svg", alt="" loading="lazy" width="300" height="25")
                a.text.footer__item-main-link(href="tel:+7 (967) 130-55-22") +7 (967) 130-55-22
                a.text.footer__item-main-link(href="mailto:shop@postmeridiem-brand.com") shop@postmeridiem-brand.com
                p.text.footer__item-main-text Москва, ул. Большая Садовая, д. 5, корпус 2. 
            
            .footer__item-navs 
                nav.footer__item-nav.footer__item-nav_desktop
                    a.footer__item-nav-item(href="#") О компании
                    a.footer__item-nav-item(href="#") Шоу-рум
                    a.footer__item-nav-item(href="#") Контакты
                    a.footer__item-nav-item(href="#") Материалы
                nav.footer__item-nav.footer__item-nav_desktop
                    a.footer__item-nav-item(href="#") Заказ и доставка
                    a.footer__item-nav-item(href="#") Обмен и возврат
                    a.footer__item-nav-item(href="#") Вопросы и ответы
                nav.footer__item-nav.footer__item-nav_mobile
                    a.footer__item-nav-item(href="#") о нас
                    a.footer__item-nav-item(href="#") доставка и возврта
                    a.footer__item-nav-item(href="#") контакты

            form.footer__item-form
                .ui-input2.footer__item-form-input-wrapper
                    input.ui-input2__input(type="email" placeholder="Подписаться на рассылку" value=" ")
                    img.ui-input2__icon-arrow(src="./img/svg/icon-middle-right.svg", alt="")
                    img.ui-input2__icon-alert(src="./img/svg/icon-alert.svg", alt="")
                    img.ui-input2__icon-checkbox(src="./img/svg/icon-checkbox.svg", alt="")
                    small.ui-input2__small Проверьте правильность введенных данных
                p.footer__item-form-text Будьте в курсе наших акиций и поступлений!

        nav.footer__copyright  
            a.text.footer__copyright-item(href="#") Публичная оферта 
            a.text.footer__copyright-item(href="#") Политика конфиденциальности

//- На всех страницах есть возможность вызвать модалку 'всплывающее окно рассылка'
include ../../../blocks/modules/modal-get-discount/modal-get-discount
include ../../../blocks/modules/modal-get-callback/modal-get-callback