.public-offer
    .container.public-offer__container
        p.title-5.public-offer__title ПУБЛИЧНАЯ ОФЕРТА В POST MERIDIEM

        .public-offer__rule-items
            .public-offer__rule-item 
                | #[bold Посетитель Сайта ] — лицо, пришедшее на сайт https://postmeridiem-brand.com/ без цели размещения Заказа.
            .public-offer__rule-item 
                | #[bold Пользователь ] — физическое лицо, посетитель Сайта, принимающий условия настоящего Соглашения и желающий разместить Заказы на сайте https://postmeridiem-brand.com/
            .public-offer__rule-item 
                | #[bold Покупатель ] — лицо, акцептировавшее публичную оферту на условиях настоящей оферты, размещающее заказы и приобретающее товары на сайте https://postmeridiem-brand.com/ для нужд, не связанных с осуществлением предпринимательской деятельности.
            .public-offer__rule-item 
                | #[bold Интернет-магазин ] — официальный интернет-магазин ИП Цыганкова Яна Владимировна, расположенный по интернет адресу: https://postmeridiem-brand.com/, где представлены Товары, предлагаемые Продавцами для приобретения, а также условия оплаты и доставки Товаров Покупателям.
            .public-offer__rule-item 
                | #[bold Акцепт ] — Акцептом настоящей Публичной оферты считается оформление Покупателем заказа на Товар в соответствии с условиями Публичной оферты.

        .public-offer__accordions

            .public-offer__accordion-item
                input.public-offer__accordion-input(checked type="checkbox" id="accordion_1")
                label.title-4.public-offer__accordion-label(for="accordion_1") 1. Общие положения
                    img.public-offer__accordion-icon(src="./img/svg/icon-arrow-down.svg" alt="")
                .public-offer__accordion-content
                    p.text.public-offer__accordion-text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Возвращайся всеми снова семь пор взобравшись коварных одна свою букв.
                    p.text.public-offer__accordion-text Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Рыбного курсивных маленький языком сбить сих эта толку путь, гор что правилами букв составитель, несколько над дал одна, lorem всемогущая?
                    p.text.public-offer__accordion-text Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Образ использовало если не предложения подпоясал свое lorem путь по всей свой города над он, все вдали продолжил лучше подзаголовок! Рукописи его составитель пояс одна пунктуация рукопись семь! Осталось, взобравшись агентство необходимыми всеми наш залетают парадигматическая приставка. Всеми раз последний переулка!
                    p.text.public-offer__accordion-text Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Что эта, рыбными вдали грустный послушавшись безорфографичный, маленький путь от всех напоивший образ имеет текста снова за использовало. Однажды необходимыми, ipsum подпоясал свою города но, собрал скатился она решила имени его безорфографичный большой гор залетают, текста рукописи страну своих языкового семь злых ты щеке повстречался? Путь которое безорфографичный языком скатился свою.
 
            .public-offer__accordion-item
                input.public-offer__accordion-input(type="checkbox" id="accordion_2")
                label.title-4.public-offer__accordion-label(for="accordion_2") 2. Предмет
                    img.public-offer__accordion-icon(src="./img/svg/icon-arrow-down.svg" alt="")
                .public-offer__accordion-content
                    p.text.public-offer__accordion-text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Возвращайся всеми снова семь пор взобравшись коварных одна свою букв.
                    p.text.public-offer__accordion-text Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Рыбного курсивных маленький языком сбить сих эта толку путь, гор что правилами букв составитель, несколько над дал одна, lorem всемогущая?
                    p.text.public-offer__accordion-text Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Образ использовало если не предложения подпоясал свое lorem путь по всей свой города над он, все вдали продолжил лучше подзаголовок! Рукописи его составитель пояс одна пунктуация рукопись семь! Осталось, взобравшись агентство необходимыми всеми наш залетают парадигматическая приставка. Всеми раз последний переулка!
                    p.text.public-offer__accordion-text Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Что эта, рыбными вдали грустный послушавшись безорфографичный, маленький путь от всех напоивший образ имеет текста снова за использовало. Однажды необходимыми, ipsum подпоясал свою города но, собрал скатился она решила имени его безорфографичный большой гор залетают, текста рукописи страну своих языкового семь злых ты щеке повстречался? Путь которое безорфографичный языком скатился свою.

            .public-offer__accordion-item
                input.public-offer__accordion-input(type="checkbox" id="accordion_3")
                label.title-4.public-offer__accordion-label(for="accordion_3") 3. Товар и порядок совершения покупки
                    img.public-offer__accordion-icon(src="./img/svg/icon-arrow-down.svg" alt="")
                .public-offer__accordion-content
                    p.text.public-offer__accordion-text 3.1. Регистрация на Сайте не является обязательной для оформления Заказа.
                    p.text.public-offer__accordion-text 3.2. Продавец не несет ответственности за точность и правильность информации, предоставляемой Пользователем при заказе товара.
                    p.text.public-offer__accordion-text 3.3. Общение Пользователя/Покупателя с менеджерами и иными представителями Продавца должно строиться на принципах общепринятой морали и коммуникационного этикета. Строго запрещено использование нецензурных слов, брани, оскорбительных выражений, а также угроз и шантажа, в независимости от того, в каком виде и кому они были адресованы.
                    p.text.public-offer__accordion-text 3.4. В случае отсутствия заказанных Покупателем Товаров на складе Продавца, последний вправе исключить указанный Товар из Заказа / аннулировать Заказ Покупателя, уведомив об этом Покупателя путем направления соответствующего электронного сообщения по адресу, указанному Покупателем при регистрации. Сопровождающие Товар фотографии являются простыми иллюстрациями к нему и могут отличаться от фактического внешнего вида Товара. Сопровождающие Товар описания/характеристики не претендуют на исчерпывающую информативность и могут содержать опечатки. Для уточнения информации по Товару Покупатель должен обратиться к Продавцу через систему обратной связи, указанную в разделе «Контакты», либо по ссылке «Задайте вопрос».
                    p.text.public-offer__accordion-text 3.5. В случае аннуляции полностью предоплаченного Заказа стоимость аннулированного Товара возвращается Продавцом Покупателю способом, которым Товар был оплачен.

            .public-offer__accordion-item
                input.public-offer__accordion-input(type="checkbox" id="accordion_4")
                label.title-4.public-offer__accordion-label(for="accordion_4") 4. Доставка заказа
                    img.public-offer__accordion-icon(src="./img/svg/icon-arrow-down.svg" alt="")
                .public-offer__accordion-content
                    p.text.public-offer__accordion-text Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты.
            
            .public-offer__accordion-item
                input.public-offer__accordion-input(type="checkbox" id="accordion_5")
                label.title-4.public-offer__accordion-label(for="accordion_5") 5. Оплата товара
                    img.public-offer__accordion-icon(src="./img/svg/icon-arrow-down.svg" alt="")
                .public-offer__accordion-content
                    p.text.public-offer__accordion-text Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты.
                    
            .public-offer__accordion-item
                input.public-offer__accordion-input(type="checkbox" id="accordion_6")
                label.title-4.public-offer__accordion-label(for="accordion_6") 6. Возврат и обмен товара и денежных средств
                    img.public-offer__accordion-icon(src="./img/svg/icon-arrow-down.svg" alt="")
                .public-offer__accordion-content
                    p.text.public-offer__accordion-text Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты.
            
            .public-offer__accordion-item
                input.public-offer__accordion-input(type="checkbox" id="accordion_7")
                label.title-4.public-offer__accordion-label(for="accordion_7") 7. Ответственность
                    img.public-offer__accordion-icon(src="./img/svg/icon-arrow-down.svg" alt="")
                .public-offer__accordion-content
                    p.text.public-offer__accordion-text Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты.
            .public-offer__accordion-item
                input.public-offer__accordion-input(type="checkbox" id="accordion_8")
                label.title-4.public-offer__accordion-label(for="accordion_8") 8. Защита персональных данных
                    img.public-offer__accordion-icon(src="./img/svg/icon-arrow-down.svg" alt="")
                .public-offer__accordion-content
                    p.text.public-offer__accordion-text Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты.
            
            .public-offer__accordion-item
                input.public-offer__accordion-input(type="checkbox" id="accordion_9")
                label.title-4.public-offer__accordion-label(for="accordion_9") 9. Срок действия Публичной оферты
                    img.public-offer__accordion-icon(src="./img/svg/icon-arrow-down.svg" alt="")
                .public-offer__accordion-content
                    p.text.public-offer__accordion-text Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты.
            .public-offer__accordion-item
                input.public-offer__accordion-input(type="checkbox" id="accordion_10")
                label.title-4.public-offer__accordion-label(for="accordion_10") 10. Дополнительные условия
                    img.public-offer__accordion-icon(src="./img/svg/icon-arrow-down.svg" alt="")
                .public-offer__accordion-content
                    p.text.public-offer__accordion-text Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты.
            