// DINProDev
@font-face {
  font-family: "DINProDev";
  src: local("DIN Pro Light"), local("DINPro-Light"),
    url("../fonts/DinPro/DINPro-Light.woff") format("woff"),
    url("../fonts/DinPro/DinPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DINProDev";
  src: local("DIN Pro"), local("DINPro"),
    url("../fonts/DinPro/DINPro.woff") format("woff"),
    url("../fonts/DinPro/DinPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DINProDev";
  src: local("DIN Pro Medium"), local("DINPro-Medium"),
    url("../fonts/DinPro/DINPro-Medium.woff") format("woff"),
    url("../fonts/DinPro/DinPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Circe
@font-face {
  font-family: "CirceDev";
  src: local("Circe Thin"), local("../fonts/Circe/Circe-Thin"),
    url("../fonts/Circe/Circe-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "CirceDev";
  src: local("Circe Light"), local("../fonts/Circe/Circe-Light"),
    url("../fonts/Circe/Circe-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CirceDev";
  src: local("Circe Bold"), local("../fonts/Circe/Circe-Bold"),
    url("../fonts/Circe/Circe-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CirceDev";
  src: local("Circe ExtraBold"), local("../fonts/Circe/Circe-ExtraBold"),
    url("../fonts/Circe/Circe-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

// Montserrat
@font-face {
  font-family: 'MontserratDev';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontserratDev';
  src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontserratDev';
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontserratDev';
  src: url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontserratDev';
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// Raleway
@font-face {
  font-family: 'RalewayDev';
  src: url('../fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
      url('../fonts/Raleway/Raleway-Regular.woff') format('woff'),
      url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RalewayDev';
  src: url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
      url('../fonts/Raleway/Raleway-Bold.woff') format('woff'),
      url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RalewayDev';
  src: url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
      url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
      url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RalewayDev';
  src: url('../fonts/Raleway/Raleway-Light.woff2') format('woff2'),
      url('../fonts/Raleway/Raleway-Light.woff') format('woff'),
      url('../fonts/Raleway/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.ff {
  &__circle-thin {
    font-weight: 100;
  }
  &__circle-light {
    font-weight: 300;
  }
  &__circle-bold {
    font-weight: bold;
  }
  &__circle-extra-bold {
    font-weight: 800;
  }
}
