*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 320px;
  &.disable-scroll {
    overflow-y: hidden;
  }
}

a,
button,
input,
input::placeholder,
textarea,
textarea::placeholder {
  font-family: "RalewayDev", "MontserratDev", "sans serif";
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "RalewayDev", "MontserratDev", "sans serif";
  color: $accent;
  @include media("<=768px") {
    padding: 0;
    background-color: #fafafa;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
button,
input {
  &:hover {
    cursor: pointer;
  }
}

.container {
  width: 100%;
  max-width: calc(1320px + 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  @include media("<=768px") {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.title-1 {
  font-family: "MontserratDev";
  font-weight: bold;
  font-size: 48px;
  line-height: 110%;
  text-transform: uppercase;
  color: #2c2c2c;
  &_white {
    color: #ffffff;
  }
  @include media("<=991px") {
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
  }
  @include media("<=768px") {
  }
  @include media("<=480px") {
  }
}

.title-2 {
  font-family: "MontserratDev";
  font-weight: bold;
  font-size: 36px;
  line-height: 110%;
  text-transform: uppercase;
  color: #2c2c2c;
  @include media("<=991px") {
    font-size: 24px;
    line-height: 110%;
  }
}

.title-3 {
  font-family: "MontserratDev";
  font-weight: bold;
  font-size: 48px;
  line-height: 110%;
  text-transform: uppercase;
  color: #2c2c2c;
  @include media("<=768px") {
    font-size: 18px;
    line-height: 130%;
  }
}

.title-4 {
  font-family: "MontserratDev";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
  @include media("<=768px") {
    font-size: 13px;
    line-height: 150%;
    text-transform: none;
  }
}

.btn-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  padding: 0 95px;
  min-height: 55px;

  font-size: 15px;
  letter-spacing: 0.15em;
  font-feature-settings: "pnum" on, "lnum" on;

  @include media("<=991px") {
  }
  @include media("<=768px") {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
  }
  @include media("<=480px") {
  }

  &_outline-black {
    color: #000000;
    border: 1px solid #000000;
  }

  &_outline-white {
    color: #ffffff;
    border: 1px solid #ffffff;
  }

  &_mobile-small {
    @include media("<=768px") {
      font-size: 13px;
      line-height: 150%;
      color: #2c2c2c;
      padding: 0;
      min-height: auto;
      border: 0;
    }
  }

  &_fill-black {
    background-color: #2c2c2c;
    color: #fff;
    border-color: #2c2c2c;
    white-space: nowrap;
    min-height: 53px;
    padding-left: 89px;
    padding-right: 89px;
  }
}

.text {
  font-size: 15px;
  line-height: 150%;
  color: $accent;
  @include media("<=991px") {
    font-size: 13px;
  }

  &_type-1 {
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
  }
  &_type-2 {
    font-size: 12px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #a0a0a0;
  }
  &_type-3 {
    font-size: 15px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: $grey;
  }
}

.ttu {
  text-transform: uppercase;
}

.ui-input {
  border: 0;
  outline: 0;
  font-size: 13px;
  line-height: 19px;
  height: 40px;
  background-color: transparent;
  &::placeholder {
    font-size: 13px;
    line-height: 19px;
  }
  &_icon {
    padding-right: 40px;
  }
}

.ui-input2 {
  position: relative;
  height: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid #2c2c2c;
  @include media("<=991px") {
  }
  input {
    border: 0;
    outline: 0;
    font-size: 13px;
    line-height: 19px;
    width: 100%;
    background: transparent;
    @include media("<=991px") {
      font-size: 15px;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #a0a0a0;
    }
    &::placeholder {
      font-size: 13px;
      line-height: 19px;
      @include media("<=991px") {
        font-size: 15px;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #a0a0a0;
      }
    }
  }
  img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(calc(-50% - 5px));
    @include media("<=991px") {
    }
  }
}

.ui-card {
  &__container {
    display: flex;
  }

  &__img {
    max-height: 133px;
    width: auto;
    display: block;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 97px;
  }

  &__name {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
  }

  &__code {
    margin-bottom: 22px;
    font-size: 12px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #a0a0a0;
    @include media("<=768px") {
      display: none;
    }
  }

  &__sizes-and-colors {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__sizes {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__size {
    font-size: 15px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #5c5c5c;
  }

  &__colors {
    display: flex;
    align-items: center;
  }

  &__color {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid $greyLight;
    background-color: var(--bgColor);
  }

  &__prices-and-delete {
    display: inline-flex;
    align-items: center;
    margin-top: auto;
  }

  &__delete {
    margin-left: 64px;
    font-size: 12px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #a0a0a0;
    @include media("<=768px") {
      margin-left: auto;
    }
  }

  &__price {
    font-family: "MontserratDev";
    margin-top: auto;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.15em;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }

  &_search {
    .ui-card__container {
      @include media("<=991px") {
        display: block;
      }
    }

    .ui-card__img {
      @include media("<=991px") {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-height: unset;
        margin-bottom: 10px;
      }
      @include media("<=576px") {
        margin-bottom: 5px;
      }
    }

    .ui-card__content {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-left: 97px;
      @include media("<=991px") {
        flex-direction: column;
        margin-left: 0;
      }
    }

    .ui-card__name {
      @include media("<=768px") {
        order: 1;
        font-weight: 400;
        text-align: center;
      }
      @include media("<=576px") {
        font-size: 9px;
        line-height: 150%;
      }
    }

    .ui-card__price {
      @include media("<=768px") {
        order: 2;
        margin-bottom: 10px;
        text-align: center;
        font-weight: normal;
      }

      @include media("<=576px") {
        font-size: 10px;
        line-height: 150%;
      }
    }

    .ui-card__sizes-and-colors {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      @include media("<=768px") {
        margin-bottom: 0;
        justify-content: space-between;
        order: 3;
      }
    }

    .ui-card__color {
      @include media("<=576px") {
        width: 10px;
        height: 10px;
      }
    }
  }

  &_small {
    .ui-card__img {
      min-width: 106px;
    }
    .ui-card__content {
      @include media("<=768px") {
        margin-left: 19px;
      }
    }
    .ui-card__size {
      font-size: 15px;
    }
    .ui-card__price {
      font-weight: normal;
    }
    .ui-card__name {
      @include media("<=768px") {
        margin-bottom: 25px;
      }
    }
  }
}

.ui-card2 {
  &__wrapper {
  }

  &__picture {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    @include media("<=991px") {
      margin-bottom: 11px;
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
      margin-bottom: 5px;
    }
  }

  &__name-and-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    @include media("<=991px") {
      margin-bottom: 10px;
    }
    @include media("<=576px") {
      flex-direction: column;
      align-items: center;
    }
  }

  &__name {
    font-size: 13px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #2c2c2c;
    @include media("<=991px") {
      font-size: 11px;
      line-height: 150%;
    }
    @include media("<=576px") {
      margin-bottom: 5px;
      font-size: 9px;
    }
  }

  &__price {
    font-family: "MontserratDev";
    font-size: 13px;
    line-height: 150%;
    text-align: right;
    letter-spacing: 0.15em;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #2c2c2c;
    @include media("<=991px") {
      font-size: 11px;
      line-height: 150%;
    }
    @include media("<=576px") {
      font-size: 10px;
    }
  }

  &__sizes-and-colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__sizes {
    display: flex;
    align-items: center;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__size {
    font-size: 12px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #a0a0a0;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &.active {
      color: #2c2c2c;
    }
    @include media("<=991px") {
      font-size: 11px;
      line-height: 150%;
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__colors {
    display: flex;
    align-items: center;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__color {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid $greyLight;
    background-color: var(--bgColor);
    &:not(:last-child) {
      margin-right: 10px;
    }
    @include media("<=576px") {
      width: 10px;
      height: 10px;
    }
  }

  &_catalog {
  }
}

.ui-card3 {
  position: relative;
  @include media("<=991px") {
  }
  @include media("<=768px") {
  }
  @include media("<=480px") {
  }
  &__wrapper {
    position: relative;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }
  &__picture {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__img {
    display: block;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__link {
    position: absolute;
    height: 89px;
    padding: 35px 20px 10px 20px;

    display: flex;
    justify-content: space-between;

    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    background-color: #fff;
    opacity: 0.8;
    bottom: 0;
    left: 0;
    width: 100%;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      height: auto;
      padding: 0 15px;
      height: 66px;
      align-items: center;
    }
    @include media("<=480px") {
    }
  }

  &__link-text {
    display: inline-block;
    max-width: 175px;
    text-decoration: none;
    font-size: 13px;
    line-height: 150%;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__link-icon {
    align-self: flex-start;
    margin-top: 5px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      align-self: center;
    }
    @include media("<=480px") {
    }
  }
}

.title-arrow {
  font-family: "MontserratDev";
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
  color: #2c2c2c;
  cursor: pointer;
  img {
    margin-right: 10px;
    pointer-events: none;
  }
  &.disabled {
    pointer-events: none;
  }
}

.hide-768 {
  @include media("<=768px") {
    display: none !important;
  }
}

.show-block-768 {
  display: none !important;
  @include media("<=768px") {
    display: block !important;
  }
}

.hide-991 {
  @include media("<=991px") {
    display: none !important;
  }
}

.show-block-991 {
  display: none !important;
  @include media("<=991px") {
    display: block !important;
  }
}

.review-site {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs {
  @include media("<=768px") {
    display: none;
  }
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }
  &__item {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #a0a0a0;
    margin: 0 10px 10px 0;
    &:not(:last-child) {
      &::after {
        content: url("../../img/svg/icon-short-right.svg");
        display: block;
        margin: 0 10px;
      }
    }
    &:last-child {
      margin-right: 0;
      color: #2c2c2c;
    }
  }
  &_success {
    margin-top: 32px;
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }
}

.logo-with-description {
  &__wrapper {
    text-align: center;
  }
  &__link {
    display: inline-block;
    margin-bottom: 12px;
    width: 317px;
    @include media("<=768px") {
      display: none;
    }
  }
  &__img {
    @include media("<=768px") {
    }
  }
  &__text {
    font-family: "MontserratDev";
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    color: #2c2c2c;
    @include media("<=768px") {
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  &_pre-ordering {
    .logo-with-description__wrapper {
      margin-bottom: 50px;
      @include media("<=768px") {
        margin-bottom: 31px;
      }
    }
  }
}

.ui-input3 {
  position: relative;
  height: 50px;
  &__input {
    width: 100%;
    height: 100%;
    border: 1px solid #a0a0a0;
    padding-left: 20px;
    padding-bottom: 7px;
    padding-top: 20px;

    font-size: 15px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #2c2c2c;
    transition: all 0.3s ease;

    resize: none;

    &::placeholder {
      display: none;
    }

    &:focus {
      border-color: #2c2c2c;
      + label {
        font-size: 9px;
        transform: unset;
        top: 6px;
      }
    }

    /*
    * Если инпут не пустой, то добавляем этот класс, чтобы label не перекрывал текст. 
    * Вызываем в javascript'e
    */
    &.has-value {
      + label {
        font-size: 9px;
        transform: unset;
        top: 6px;
      }
    }
  }
  &__label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    font-size: 15px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #a0a0a0;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  &_textarea {
    .ui-input3__label {
      top: 14px;
      transform: unset;
    }
  }
}

.ui-radio {
  input {
    position: absolute;
    left: -9999px;
  }
  > input[type="radio"] + *::before {
    position: relative;
    content: "";
    display: inline-block;
    vertical-align: middle;
    top: -2px;
    width: 17px;
    height: 17px;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
  }
  > input[type="radio"]:checked + * {
    color: #000;
  }
  > input[type="radio"]:checked + *::before {
    background: radial-gradient(
      teal 0%,
      #000 40%,
      transparent 50%,
      transparent
    );
    border-color: #000;
  }
  > input[type="radio"] + * {
    display: inline-block;
    margin-bottom: 10px;
    @include media("<=768px") {
      margin-bottom: 20px;
    }
  }
  label {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    font-size: 15px;
  }
}

.ui-checkbox {
  overflow: hidden;
  input {
    position: absolute;
    left: -9999px;
    &:checked {
      + label img {
        opacity: 1;
      }
    }
    &:focus {
      + label img {
        opacity: 0.5;
      }
    }
  }
  label {
    display: flex;
    span {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 17px;
      height: 17px;
      min-width: 17px;
      min-height: 17px;
      border: 1px solid #2c2c2c;
      margin-right: 18px;
      img {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
      }
    }
  }
  small {
    font-size: 12px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #4f5051;
  }
}
