*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a, button, input, input::placeholder, textarea, textarea::placeholder {
  font-family: "DINProDev", "sans serif";
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "DINProDev", "sans serif";
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
button,
input {
  &:hover {
    cursor: pointer;
  }
}
